@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --foreground-color: black;
        --line-height: 1.4;
        --word-spacing: .0em;
        --pre-background: white;
        --base-color: #ff8647;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1f21;
        --foreground-color: #c9cacc;
        --line-height: 1.5;
        --word-spacing: .05em;
        --pre-background: #c9cacc;
        --base-color: #ff8647;
    }
}

body {
    font-family: "Merriweather", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.05em;
    font-weight: 300;
    font-kerning: normal;
    line-height: var(--line-height, 1.5);
    word-spacing: var(--word-spacing, .0em);
    width: 900px;
    margin: 1% auto;
    background-color: var(--background-color, white);
    color: var(--foreground-color, black);

    -webkit-font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p code, li code {
    padding: 0 3px;
    color: #268bd2;
    /* background: #eee8d5; */
}

pre {
    font-family: Consolas, Menlo, "Noto Mono", "DejaVu Sans Mono", monospace;
    background-color: var(--pre-background, white);
    /* font-size: 70%; */
    line-height: 1.1;
    color: black;
}

a.tags:link {
    font-size: 0.9em;
    text-decoration: none;
}

#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  margin-bottom: 2em;
}

#header-container span {
    word-spacing: 6px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

header a:link, h1 a:link {
    text-decoration: none;
    font-size: 0.9em;
}

header a:hover, h1 a:hover {
    text-decoration: underline;
}

a, a:visited {
    color: var(--foreground-color);
}

footer a {
    padding-right: 10px;
}

time {
    font-size: 0.9em;
    color: slategray;
    padding-right: 5px;
}

blockquote {
    padding-left: 15px;
    border-left: 2px solid var(--base-color);
} 

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 75%;
}

@media only screen and (max-width: 800px) {
    body {
        width: 90%;
    }
    figure {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    figure img {
        width: 100%;
    }
}

