body {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 100%; 
    line-height: 1.5;
    width: 80%;
    margin: 1% auto;
}

h1 {
    margin: 1.0em 0 0.2em 0;
}

code {
    font-family: Courier, Verdana, Monaco;
    font-size: 80%;
}

p code, li code {
    padding: 0 3px;
    color: #268bd2;
    /* background: #eee8d5; */
}

a.tags:link {
    font-size: 0.9em;
    text-decoration: none;
}

#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

#header-container span {
    word-spacing: 6px;
}

header a:link {
    text-decoration: none;
}

footer a {
    padding-right: 10px;
}

time {
    font-size: 0.9em;
    color: slategray;
    padding-right: 5px;
}

blockquote {
    padding-left: 15px;
    border-left: 2px solid silver;
} 

figure img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 800px) {
    figure {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    figure img {
        width: 100%;
    }
}
